$font-family-sans-serif: Helvetica, Arial, sans-serif;
$font-size-base: 14px;
$font-size-subtitle: 20px;
$font-size-title: 24px;
$font-size-subheader: 30px;
$font-size-header: 36px;

$color-gray: #ccc;
$color-blue: #00c;
$color-brand-green: #0c0;
$color-brand-blue: #009;
$color-red: #c00;
$color-white: #fff;

$gutter: 1em;