$font-family-sans-serif: 'Roboto', sans-serif;;
$font-size-small: 12px;
$font-size-base: 16px;
$font-size-subtitle: 20px;
$font-size-title: 28px;
$font-size-subheader: 40px;
$font-size-header: 48px;

$font-light: 300;
$font-normal: 400;
$font-medium: 500;
$font-semibold: 500;
$font-bold: 700;
$font-extrabold: 900;

$color-gray: #828b99;
$color-gray-light: #d9d9d9;
$color-blue: #008deb;
$color-brand-green: #389463;
$color-brand-green-light: #6cab38;
$color-brand-blue: #137989;
$color-brand-orange: #e05e22;
$color-red: #c00;
$color-white: #fff;