$el: '.group-page';

#{$el} {
  @include row();
}

#{$el}__header {
  @include span-columns(9);
  @include shift(3);
}

#{$el}__links {
  margin-top: 30px;
}

#{$el}__link {
  $icon-size: 1.5em;
  $font-size: $font-size-base;
  @include borderable-link($color-blue, darken($color-blue, 10%));
  @include iconable-prefix('icons/earth.png', $font-size, $icon-size);
}

#{$el}__meta {
  @include span-columns(3);
}

#{$el}__content {
  @include span-columns(9);
}

#{$el}__text {
  margin-top: 40px;
}

#{$el}__meta-title {
  font-size: 13px;
  font-weight: $font-bold;
  text-transform: uppercase;
  color: $color-brand-green;

  margin-top: 35px;
}

#{$el}__download-cv + #{$el}__meta-title {
  margin-top: 60px;
}

#{$el}__scientist-link {
  @include borderable-span-link($color-blue, $color-red);
  @include iconable-prefix('icons/user.png', $font-size-base, 1.5em);

  display: block;
  margin-top: 16px;
}

#{$el}__meta-video {
  margin-top: 25px;
}

#{$el}__meta-image {
  margin-top: 25px;
  @include autosizable-image();
}

#{$el}__avatar {
  > img {
    @include round-avatar(100%);
  }
}

#{$el}__download-cv {
  $font-size: $font-size-base;
  margin-top: 10px;
  text-align: center;
  display: block;

  @include borderable-span-link($color-blue, darken($color-blue, 10%));
  @include pdfable-prefix();

  span {
    margin-left: .7em;
  }
}