$el: '.home-page';

#{$el}__links {
  text-align: center;
  color: $color-gray;
  font-size: $font-size-header;
  font-weight: 300;
  margin-top: 90px;

  #{$el}__link {
    @include borderable-link($color-blue, $color-red);
    position: relative;
  }

  #{$el}__space {
    &:before, &:after {
      content: ' ';
    }
  }
  
  #{$el}__link-meta {
    $color: $color-gray-light;
    $triangle-size: .5em;
    position: absolute;
    right: -1.5em;
    top: -2em;
    font-size: $font-size-small;
    padding: .3em .5em;
    background: $color;
    color: white;

    &:before {
      content: '';
      position: absolute;
      bottom: -$triangle-size;
      left: 0;
      @include triangle($triangle-size, $color transparent, up-left);
    }
  }
}

#{$el}__banners{
  font-size: $font-size-base;
  margin-top: 90px;

  #{$el}__banner {
    position: relative;
    overflow: hidden;
    line-height: 0;

    &:before {
      display: block;
      position: absolute;
    }

    img {
      @include autosizable-image();
      @include transition(transform 1s);
    }

    &:hover {
      img {
        @include transform(scale(1.1));
      }
    }

    &.m-half {
      @include span-columns(6);
      @include omega(2n);
    }

    &.m-full {
      margin-top: $gutter;
      @include span-columns(12);
    }
  }
}

#{$el}__banner-text {
  position: absolute;
  bottom: 1em;
  left: 1em;
  font-size: $font-size-title;
  line-height: 1.2;
  max-width: 80%;
}

#{$el}__banner-link {
  @include borderable-span-link($color-white, $color-white);
  font-weight: 700;
}

#{$el}__banner-link-meta {
  background: $color-brand-green-light;
  color: $color-white;
  font-size: $font-size-small;
  position: absolute;
  right: -2em;
  top: -1em;
  padding: .3em .5em;
}
