$el: '.breadcrumbs';

#{$el} {
  $color: $color-gray;
  font-size: $font-size-small;
  margin-top: 46px;
  color: $color;

  > a {
    @include borderable-link($color, darken($color, 10%));
  }

  a + a {
    text-transform: lowercase;
  }

}