$el: '.group-card';

#{$el} {
  @include row();
}

#{$el}__avatar {
  @include span-columns(2);

  > img {
    $size: 100px;
    max-width: $size;
    max-height: $size;
    width: auto;
    height: auto;

    border-radius: 100%;
  }
}

#{$el}__description {
  @include span-columns(10);
}

#{$el}__title {
  font-size: $font-size-subtitle;
  line-height: 1.5;
  @include borderable-link($color-blue, $color-red);
}

#{$el}__text {
  color: $color-gray;
  margin-top: .3em;
  line-height: 1.5;
}