$el: '.main-menu';

#{$el} {

  #{$el}__item {
    $color: $color-white;
    $color-active: $color-brand-green;

    @include borderable-span-link($color-white, lighten($color-brand-green-light, 45%));
    margin-right: .5em;
    padding: .3em .7em;

    &:last-child {
      margin-right: 0;
    }

    &.m-active {
      background: white;
      border-radius: .2em;

      > span { color: $color-brand-green; }
      &:hover, &:active {
        > span { border-color: transparent; }
      }
    }
  }

}