$el: '.scientist-card';

#{$el} {
  @include row();

  &.m-indented {
    margin-top: 50px;
    &:first-child {
      margin-top: 0;
    }
  }
}

#{$el}__avatar {
  @include span-columns(2);

  > img {
    @include round-avatar(100px);
  }
}

#{$el}__description {
  @include span-columns(10);
}

#{$el}__name {
  font-size: $font-size-subtitle;
  @include borderable-link($color-blue, $color-red);
}

#{$el}__text {
  color: $color-gray;
  margin-top: .3em;
  line-height: 1.5;
}